body{
    font-family: sans-serif;
    background-color: black;
}

header{
    border-bottom: solid 3px red;
}
nav{
    float: right;
}

#navegacao li a:visited, li a:link{
    font-weight: bold;
    font-size: large;
    color: white;
}


#navegacao li a:hover{
    color: red;
    text-decoration-line: underline;
}
#myCarousel{
    border-bottom: solid 2px red;
}

.album img{
    max-width: 91%;
    height: 250px;
    padding-top: 20px;
    margin: auto;
}

.album{
    margin-top: 50px;
}

form{
    margin: auto;
    width: 80%;
    padding: 20px;
    border-radius: 1em;
    margin-bottom: 50px;
}

form h3{
    text-align: center;
    margin-top: 30px;
}

form div{
    padding: 10px;
}

footer{
    height: 100px;
    border-top: solid 2px red;
}

footer img{
    width: 50px;
}
